{{ outlet }}

<div class="row">
  <div class="col-md-7">
    <form class="input-group" {{ action "setQuery" on="submit" }}>
      {{ input value=queryString class="form-control" placeholder="Search by title, actor or director" }}

      <span class="input-group-btn">
        <button class="btn btn-default" type="button" type="submit">Search</button>
      </span>
    </form>
  </div>

  <div class="col-md-5">
    <div role="group" class="btn-group text-center">
      {{#link-to "movies" (query-params order="desc") class="btn btn-default"}}
        By Better Rating
      {{/link-to}}

      {{#link-to "movies" (query-params order="asc") class="btn btn-default"}}
        By Worse Rating
      {{/link-to}}
    </div>
  </div>
</div>

<br>
<br>

<ul class="list-unstyled">
  {{#each arrangedContent as |movie|}}
    <li class="row movie">
      <div class="col-md-3">
        <img src={{ movie.posterUrl }} class="movie-poster">
      </div>

      <div class="col-md-9">
        <h3>
          {{ movie.title }}

          <small>{{ movie.year }}</small>
        </h3>

        <i class="text-muted">{{ movie.plot }}</i>

        <br>
        <br>

        <dl class="dl-horizontal">
          <dt>Rating</dt>
          <dd>{{ movie.rating }}</dd>

          <dt>Directors</dt>
          <dd>{{ format-array movie.directors }}</dd>

          <dt>Actors</dt>
          <dd>{{ collapse-list list=movie.actors }}</dd>

          {{#if movie.user }}
            <dt>Added by</dt>
            <dd>{{ movie.user.name }}</dd>
          {{/if}}
        </dl>
      </div>
    </li>
    <hr>
  {{/each}}
</ul>

<div class="text-center">
  <button class="btn btn-primary" {{ action "loadMore" }}>Load More</button>
</div>
